@using platzi_curso_aspcore.Controllers
@using platzi_curso_aspcore.Models

@model School

@{
    ViewData["Title"] = "Information School";
    Layout = "Simple";
}
    
<h1>School @ViewData["Title"] </h1>
<h2>Name: @Model.name</h2>
<h3>Type School: @Model.TipoEscuela</h3>
<address>
    <p>Direction: @Model.Direction </p>
    <p>Country: @Model.Country</p>
    <p>City: @Model.City</p>
</address>
<p><strong>Year Foundation: @Model.yearFoundation</strong></p>
